$omega          	: 	.8rem;
$alpha          	: 	1rem;
$bravo				:	1.3rem;
$charlie          	: 	1.618rem;
$delta        		: 	2rem;
$echo				:	2.618rem;;
$foxtrot          	: 	3.236rem;
$golf           	: 	4.236rem;

$font--1			:	'Playfair Display', serif;
$font--2			:	freight-sans-pro, sans-serif;
$font--3			:	myriad-pro, serif;


$font--body      	:	$font--3;
$fs--std	        :   18px;
$lh--lg             :   1.8;
$lh--std        	:   1.4;
$lh--sm         	:   1.2;