.m-deltaWrap:before {
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIAB4AGQMBIgACEQEDEQH/xABwAAADAQEAAAAAAAAAAAAAAAAEBQYDAhAAAgIABQIFAwUAAAAAAAAAAQIDEQAEBRIhEzEiQVFhgTKh8AYUJFKxAQEBAQAAAAAAAAAAAAAAAAACAQARAQACAgIDAAAAAAAAAAAAAAEAAiFxEUExUcH/2gAMAwEAAhEDEQA/AJjJiSDUkkikKud6Bl4+uNl7+/GNRJM+nRLKzbYpCgVjQVZEuufMsPw4Byko/dwmaumJYywurAkF/a8Xco0LKZzNZaKCFZ1QFmCC03eI7mN2dtn2+cFMOoquSQixwqvYGxwe57YP8PoMBZyFoc3MipwJHCV2IJLCvgjG3XX8GNJ8mVoxZF875r1vDAadqWrZ6bMxQHozHcxLhaVgo4JNngfOFHU2yMa4BJI9RurFXpus7chlNsdSkRwM12GC0oJ96HOJZamOHn3FUFz1EGrxZvJZ/pZgASCn4NipPp5oeQxx0n9sN/1dEsmfSQkj+Mh486aUf5gPxf2P2wjwah7dz//Z);
	
	@include bp( 'after', $milli ) {

		background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIABQAHgMBIgACEQEDEQH/xABwAAACAgMAAAAAAAAAAAAAAAAABQECAwQGEAACAQIEAwYHAAAAAAAAAAABAgMAEQQSITEFEyIGMkFRYbEVIzNSgcHRAQEBAQAAAAAAAAAAAAAAAAABAAIRAAIDAQEAAAAAAAAAAAAAAAARASFB0WH/2gAMAwEAAhEDEQA/AOR5mIkCiEM8l+6uZjYegrbj4Hx7EEZMNKL6WZgg6tB3n9PKsHCsXNDjoplYRr1qzEXBDC9mB8CbCnWO7Qv8Pjhws2bEs6mQjfKjZ9drA7Wot4jVL1i6Xg3FMLCZpioVVBPzSxGZ+WpsB91LeVPl+qb+V2/tNJsaZmd5S7s8LRaHKokBDo+UnYa0u1i6hYg+HlfYXohlKwo00ikKDplX2vUKzXU5jcp+6KK0BbEsymMA+F/ztVUQFWJJvce1FFXA6f/Z);
	
	}
	
	@include bp( 'after', $deci ) {

		background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIABQAHgMBIgACEQEDEQH/xABwAAACAgMAAAAAAAAAAAAAAAAABQECAwQGEAACAQIEAwYHAAAAAAAAAAABAgMAEQQSITEFEyIGMkFRYbEVIzNSgcHRAQEBAQAAAAAAAAAAAAAAAAABAAIRAAIDAQEAAAAAAAAAAAAAAAARASFB0WH/2gAMAwEAAhEDEQA/AOR5mIkCiEM8l+6uZjYegrbj4Hx7EEZMNKL6WZgg6tB3n9PKsHCsXNDjoplYRr1qzEXBDC9mB8CbCnWO7Qv8Pjhws2bEs6mQjfKjZ9drA7Wot4jVL1i6Xg3FMLCZpioVVBPzSxGZ+WpsB91LeVPl+qb+V2/tNJsaZmd5S7s8LRaHKokBDo+UnYa0u1i6hYg+HlfYXohlKwo00ikKDplX2vUKzXU5jcp+6KK0BbEsymMA+F/ztVUQFWJJvce1FFXA6f/Z);
	
	}
}

.m-delta {
	background-image: url( /writingAssets/doormageddon/_img/delta__interstitial--sm.jpg );
	
	&:after {
		padding-bottom: 120%;
	}
	
	@include bp( 'after', $milli ) {
		background-image: url( /writingAssets/doormageddon/_img/delta__interstitial--m.jpg );
			
		&:after {
			padding-bottom: 66.6%;
		}
	}
	
	@include bp( 'after', $deci  ) {
		background-image: url( /writingAssets/doormageddon/_img/delta__interstitial--lg.jpg );
	}
}