.m-hotelWrap:before {
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIAB4AGwMBIgACEQEDEQH/xABnAAADAAMAAAAAAAAAAAAAAAAAAQMCBAYQAAEEAgAFAQkAAAAAAAAAAAEAAgMREiEEEyIxQTNCUVJhcYGCkqEBAQEAAAAAAAAAAAAAAAAAAAABEQEBAQAAAAAAAAAAAAAAAAAAEQH/2gAMAwEAAhEDEQA/AOSdxDxYEkpIJFZyeD83JCeeg4ySFtjfMeO/5KhY10j8hYu2jxtKaNpjOIojdfRA3S8TH1cx4A36khsfsoTzcZzXYSPLTRBzf5F/ElMHBoa4mvZBWYMtDfiu3u0rph8+pnBrDZ+3YnaJZ5BGbaBY7FQdN15NG9izsptdm+nbtSFDppJsLItWAcBWX8WuGlpaQd7AVM3qVY//2Q==);
	
	@include bp( 'after', $milli ) {

		background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIABEAHgMBIgACEQEDEQH/xABiAAADAAMAAAAAAAAAAAAAAAAAAgMBBAYQAAIBAwIFBQAAAAAAAAAAAAECAAMRIRIxEzNBYXEiMpGh8AEBAQAAAAAAAAAAAAAAAAAAAQARAQEAAAAAAAAAAAAAAAAAAAAB/9oADAMBAAIRAxEAPwDkwfVt0jqTc7Ca6vc4OoHGIxq6H0lbGwPSBOadRnIFgL7j5k2qsiqV1BtiMAYjcZgWvYDFr5+pEu1RrPYab9O8YGKHLXyYVucviEIEje9pVt/3aEI1R//Z);
	
	}
	
	@include bp( 'after', $deci ) {

		background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIABEAHgMBIgACEQEDEQH/xABhAAADAAMAAAAAAAAAAAAAAAAAAgMBBAYQAAEDBAEDBQAAAAAAAAAAAAEAAhEDEiExQTNhcTKRodHwAQEBAAAAAAAAAAAAAAAAAAABABEBAQAAAAAAAAAAAAAAAAAAAAH/2gAMAwEAAhEDEQA/AOTBzrhO2ZOgtdr5Ig3A4x9pjVsfaWwYB4QTmnUc8gQBOx78qbqrmNbbcHaIwAmFZwLpgDG8/CiXuqOh8C2eO6YGKHTb5RW6rfCEIRD63Krt/uyEJqj/2Q==);
	
	}
}

.m-hotel {
	background-image: url( /writingAssets/doormageddon/_img/hotel__interstitial--sm.jpg );
	
	&:after {
		padding-bottom: 120%;
	}
	
	@include bp( 'after', $milli ) {
		background-image: url( /writingAssets/doormageddon/_img/hotel__interstitial--m.jpg );
		
		&:after {
			padding-bottom: 55.5%;
		}
	}
	
	@include bp( 'after', $deci  ) {
		background-image: url( /writingAssets/doormageddon/_img/hotel__interstitial--lg.jpg );
	}
}