.m-kiloWrap:before {
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIABQAHgMBIgACEQEDEQH/xABnAAABBQEAAAAAAAAAAAAAAAAAAQIDBAUGEAACAgEEAAYDAQAAAAAAAAABAgMRAAQFEiETIjEyQWFCcYGhAQEBAAAAAAAAAAAAAAAAAAAAAREBAAMBAAAAAAAAAAAAAAAAABExUWH/2gAMAwEAAhEDEQA/AOQCSSDlFG7CPt2CkgD7Kih/ce2n1TLzEbFas31Q+7rOp0u4aeRNbpTJHCGRuXKhZNgeY0CcpS7jtbxahWlVGmQrJyJkN17V4X0SP7+sk3xYrrPXaN1fSSap1TwoFDsxa+h3QAU2frEGz6qdBM7hEb2kKSCfo2Mu6LfY49FNo5g5M6UvGiFbj5rsgdV1kUG+tEioIWkVBSgFQAD3Z9e8aYy6qBX+W7yOWRvBRPxKkn9jDDKhQ5oH54Ef5jPEcejEYYYH/9k=);
	
	@include bp( 'after', $milli ) {

		background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIAB4AGAMBIgACEQEDEQH/xABoAAADAQEAAAAAAAAAAAAAAAAABQYCAxAAAgIBAgUCBwAAAAAAAAAAAQIDEQAEIQUSMUFRE3EiIzJCcpHBAQEAAAAAAAAAAAAAAAAAAAABEQEBAAIDAAAAAAAAAAAAAAAAAQIRMVHB/9oADAMBAAIRAxEAPwCWWZ11TMXc1Kwos1VzMOl1ljwyePUaDVRkfNKMrNe4UqVFHtZGRRAOs5ZL5Gle+xrnbplJquHvoNF6sOsK6mVVYwqQLT3O5q8MpuWdw48zxMwySnlJlc/ST8bd6v7sMyrsFVKoA7fvDEOwYLLLtdO5NddnbzjabTayYJcwJiUqgVSz8jbkWDv71iaQcskrAkEu42/JvOPIuJ6iFEaEqrBQLKg2a3s7NvfnAkUyenK0QN0wpvINH+4ZqYodSGIsAqCOnesMQ//Z);
	
	}
	
	@include bp( 'after', $deci ) {

		background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoaJjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/AABEIABQAHgMBIgACEQEDEQH/xABpAAABBQEAAAAAAAAAAAAAAAAAAQIDBAUGEAACAQMCBAYDAAAAAAAAAAABAhEAAwQFEhMhMWEiMkFRcYEjQqEBAQEAAAAAAAAAAAAAAAAAAAEAEQEAAwEAAAAAAAAAAAAAAAAAETFRYf/aAAwDAQACEQMRAD8A5AI9wbrVt2Fvm7BSQB3KiB909sfKZd622ZYkzAgd5iupxc/HuJm4u+3Z3oxbdAkmQDuMAmqd3UdLe1kKbqI15Ctzcd7THlXZPUj7+KJvhius5dI1VsS5lOi8KwA7MWnl7ABTJ7Ug0bKvoLruERvKdpIJ7GR71dw9dtphX8K8Hm+kLAkK0eKZIHKOVRWNda0ipwWuKg2qAVAA6yevOrVjLj8Cv6tz9Kju3G4SJ+pUk/IoopBQ5ifXYR/KZxHHRiKKKE//2Q==);
	
	}
}

.m-kilo {
	background-image: url( /writingAssets/doormageddon/_img/kilo__interstitial--sm.jpg );

	
	&:after {
		padding-bottom: 120%;
	}
	
	@include bp( 'after', $milli ) {
		background-image: url( /writingAssets/doormageddon/_img/kilo__interstitial--m.jpg );
		
		&:after {
			padding-bottom: 66.6%;
		}
	}
	
	@include bp( 'after', $deci  ) {
		background-image: url( /writingAssets/doormageddon/_img/kilo__interstitial--lg.jpg );
	}
}