.m-mikeWrap {
	@extend .m-alphaWrap;
	
	background: url( /writingAssets/doormageddon/_img/mike--sm.jpg ) center center / cover no-repeat;
	
	position: relative;
	padding: 0 !important;
	border-bottom: 0;
	
	&:before {
	    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wBDABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQED/2wBDAREPDxETERUSEhUUERQRFBoUFhYUGiYaGhwaGiYwIx4eHh4jMCsuJycnLis1NTAwNTVAQD9AQEBAQEBAQEBAQED/wAARCAAeAB4DASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABQYE/8QALBAAAgEDAgQEBgMAAAAAAAAAAQIDAAQRBSEGEjFhExRBUSIkUoGCkqHB4f/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABoRAAMBAAMAAAAAAAAAAAAAAAABETEhMkL/2gAMAwEAAhEDEQA/AKSbHlXP3oluL7SwNuPJSTGa3jmBVl2D8wwQxH00mQq2zIowD6VEa6rWV7BDG+8VpCmw9AZPfPvWUbeDVzxCNYglSG2a3iV4xLzMpLc5IUDl9Mjes2mxA6g8Z3ysjD8WjH91h0JjJFcBty08Aye2WprR4idVZs5XwpcLjofETfPfFR9i+RdnzERUVxO8jaoQuceBHnA7v1PWq5XJU0cbCwv7iWW7gWVkwik9QBkYFLBKC8Og8sgbOTcJnPXZM1Q6H8WoMfaFj+0n+ViaztbK4jS1jESO/OVHTPKRW3h8/PS9rdP5dzRcuh5D/9k=);
	}
	
	@include bp( 'after', $milli ) {
		
		background-image: url( /writingAssets/doormageddon/_img/mike--lg.jpg );
		
		&:before {
		    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wBDABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQED/2wBDAREPDxETERUSEhUUERQRFBoUFhYUGiYaGhwaGiYwIx4eHh4jMCsuJycnLis1NTAwNTVAQD9AQEBAQEBAQEBAQED/wAARCAAeAB4DASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABQYE/8QALBAAAgEDAgQEBgMAAAAAAAAAAQIDAAQRBSEGEjFRExRBcSIkUmGBoZLB4f/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABkRAAMBAQEAAAAAAAAAAAAAAAABETEyIf/aAAwDAQACEQMRAD8ApZseVY/miG4vtLDy+bKSYzW8c2VZfhEnMMENj6aUIVbdkUYHaojXVeyvIIY33itIUyOymTvnvWUbeDNxxENYglSG1a2iV4xLzMpLc5IUAL6ZG9ZtNiDX7xHfKyMPZWjH91h0JjJHcBty00AJPcczU1o0JOrlicr4M2F7Eyx7/qo+irkYZ8xkVFcTtI2qYXOPBjzj3fqRvVcr5U0abGwvriWW6gWVkwik9QFyMD85NLBKC8Og8snNnJuEznrsmaotC31Fj2gY/wApf8rE9na2VzGlrGI0Zw5UdM8pHrWvh8/Py/a3j/buaL10PIf/2Q==);

		}
	}
	
	@include bp( 'after', $deci ) {
		
		&:before {
		    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAASABIAAD/2wBDABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoXHh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQED/2wBDAREPDxETERUSEhUUERQRFBoUFhYUGiYaGhwaGiYwIx4eHh4jMCsuJycnLis1NTAwNTVAQD9AQEBAQEBAQEBAQED/wAARCAAeAB4DASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABQYE/8QALBAAAgEDAgQEBgMAAAAAAAAAAQIDAAQRBSEGEjFRExRBcSIkUmGBoZLB4f/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABkRAAMBAQEAAAAAAAAAAAAAAAABETEyIf/aAAwDAQACEQMRAD8ApZseVY/miG4vtLDy+bKSYzW8c2VZfhEnMMENj6aUIVbdkUYHaojXVeyvIIY33itIUyOymTvnvWUbeDNxxENYglSG1a2iV4xLzMpLc5IUAL6ZG9ZtNiDX7xHfKyMPZWjH91h0JjJHcBty00AJPcczU1o0JOrlicr4M2F7Eyx7/qo+irkYZ8xkVFcTtI2qYXOPBjzj3fqRvVcr5U0abGwvriWW6gWVkwik9QFyMD85NLBKC8Og8snNnJuEznrsmaotC31Fj2gY/wApf8rE9na2VzGlrGI0Zw5UdM8pHrWvh8/Py/a3j/buaL10PIf/2Q==);

		}
				
	}
}

.m-mike {
	position: relative;
	width: 100%;
	
	&:after { 
		content: '';
		display: block;
		padding-bottom: 100%;
	}
	
	@include bp( 'after', $deci ) {
		@include _decoration(
			triangleA,
			false,
			-2*$space,
			40%,
			40%,
			-15%,
			-1,
			180
		);
	}
}