$tenth          	:   .1;
$ninth          	:   .111;
$eighth         	:   .125;
$seventh        	:   .14;
$sixth          	:   .166;
$fifth          	:   .2;
$quarter        	:   .25;
$third          	:   .333;
$half           	:   .5;
$twoThirds      	:   2*$third;
$threeQuarters  	:   3*$quarter;
$fourFifths     	:   4*$fifth;