// @import '__scssreset';
// @import '__scssfallbacks';
//@import  "https://use.typekit.net/mss3hvq.css";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap";
@import '__scssmixins';
@import '__scssvariables';

@import '__variables/all';

@import '_mixins';

.doormageddonWrap {
	font-family: $font--3;
	font-weight: 300;
	line-height: 1.4;
	counter-reset: b-title--section;
}

@import '__layout/all';
@import '__basics/all';
@import '__components/all';
@import '__modules/all';
@import '_shame';